<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APIs</title>
</head>
<body>
    <div id="myElement" >
        <h1>Hello SAlMAN</h1>
    </div>
    


    <script type="text/javascript">
        function httpGetAsync(theUrl, callback){
            var xmlHtp = new XMLHttpRequest();
            xmlHtp.onreadystatechange = function(){
              if(xmlHtp.readystate == 4 && xmlHttp.status == 200)
                 callback(xmlHtp.responseText);
               }
            xmlHtp.open("GET",theUrl,true);
            xmlHttp.send(null);
            }
        httpGetAsync('http://127.0.0.1:5000/store',function(response)){
            alert(response);
        }
 
    </script>
</body>
</html>